<a href="{{urls.home}}">
    {{#if settings.store_logo.image}}
        {{#if theme_settings.logo_size '===' 'original'}}
            <img class="header-logo-image-unknown-size" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}" >
        {{else}}
            <div class="header-logo-images">
                <img class="logo-image" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}" width="470" height="84">
            </div>
        {{/if}}
    {{else}}
        <span class="header-logo-text">{{settings.store_logo.title}}</span>
    {{/if}}
</a>
