{{#if label '==' 'Country'}}
<div class="form-field" id="{{id}}" data-validation="{{validation}}" {{#if private_id}} data-type="{{private_id}}"
    {{/if}}>
    <label class="form-label" for="{{id}}_select">{{label}}
        {{#if required}}<small>{{lang 'common.required' }}</small>{{/if}}
    </label>
    <select class="{{class}} form-select country-select" id="{{id}}_select" data-label="{{label}}" aria-required="{{required}}" name="{{name}}"
        {{#if private_id}} data-field-type="{{private_id}}" {{/if}}>
        {{#if options}}
        <option value=""  class="custom-style ">{{chooseprefix}}</option>
        {{#each options}}
        {{#if value '==' 'United Kingdom'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
        {{#each options}}
        {{#if value '==' 'Guernsey'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
          {{#each options}}
        {{#if value '==' 'Isle of Man'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
        {{#each options}}
        {{#if value '==' 'Jersey'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
         {{#each options}}
        {{#if value '==' 'Ireland'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
        {{#each options}}
         {{#if value '!==' 'United Kingdom'}}
         {{#if value '!==' 'Guernsey'}}
        {{#if value '!==' 'Isle of Man'}}
        {{#if value '!==' 'Jersey'}}
        {{#if value '!==' 'Ireland'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
         {{/if}}
        {{/if}}
          {{/if}}
         {{/if}}
        {{/each}}
        {{/if}}
    </select>
</div>
{{else if name '==' ''}}
<div class="form-field" id="{{id}}" data-validation="{{validation}}" {{#if private_id}} data-type="{{private_id}}"
    {{/if}}>
    <label class="form-label" for="{{id}}_select">{{label}}
        {{#if required}}<small>{{lang 'common.required' }}</small>{{/if}}
    </label>
    <select class="{{class}} form-select country-select" id="{{id}}_select" data-label="{{label}}" aria-required="{{required}}" name="{{name}}"
        {{#if private_id}} data-field-type="{{private_id}}" {{/if}}>
        {{#if options}}
        <option value=""  class="custom-style">{{chooseprefix}}</option>
        {{#each options}}
        {{#if value '==' '225'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
        {{#each options}}
        {{#if value '==' '242'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
          {{#each options}}
        {{#if value '==' '240'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
        {{#each options}}
        {{#if value '==' '241'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
         {{#each options}}
        {{#if value '==' '103'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
        {{/each}}
        {{#each options}}
         {{#if value '!==' '225'}}
         {{#if value '!==' '242'}}
        {{#if value '!==' '240'}}
        {{#if value '!==' '241'}}
        {{#if value '!==' '103'}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/if}}
         {{/if}}
        {{/if}}
          {{/if}}
         {{/if}}
        {{/each}}
        {{/if}}
    </select>
</div>
{{else}}
<div class="form-field" id="{{id}}" data-validation="{{validation}}" {{#if private_id}} data-type="{{private_id}}"
    {{/if}}>
    <label class="form-label" for="{{id}}_select">{{label}}
        {{#if required}}<small>{{lang 'common.required' }}</small>{{/if}}
    </label>
    <select class="{{class}} form-select {{#if label '==' 'Email Offers'}}custom-style-grey{{/if}}  {{#if label '==' 'Marketing Source'}}custom-style-grey{{/if}} {{#if label '==' 'Allow Marketing'}}custom-style-grey{{/if}}" id="{{id}}_select" data-label="{{label}}" aria-required="{{required}}" name="{{name}}"
        {{#if private_id}} data-field-type="{{private_id}}" {{/if}}>
        {{#if options}}
        <option value=""  class="custom-style " >{{chooseprefix}}</option>
        {{#each options}}
        <option {{#if selected}} selected {{/if}} value="{{value}}"  class="custom-style">{{{label}}}</option>
        {{/each}}
        {{/if}}
    </select>
</div>
{{/if}}
