<div class="banners consumables-banner">
  <div class="title-section">
    <h2>Big Title HERE</h2>
  </div>
  <div class="aboutus-content">
    <p><strong>A leading online supplier of printer ink cartridges &amp; toner cartridges for over 18 years!</strong> IJT Direct sells quality cheap printer ink. Inkjet cartridges, toner cartridges, printer ink and more. For over 18 years, IJT Direct is the best place to buy your quality cheap printer cartridges. If you're looking for printer ink or laser toner cartridges, we have the full printer cartridges range so get your inks direct from IJT. Inkjet cartridges and laser printer cartridge supplies at some of the lowest prices in the UK, with fast delivery of a cartridge save with IJT, for internet ink.</p>
    <p><strong>Reliable printer cartridges - ink cartridges for printers, inkjet cartridges &amp; cheap printer ink! Looking for toner cartridges?</strong></p>
    <p>IJT Direct printer ink cartridges come with a full 12 month warranty. They're guaranteed to match or exceed the print quality of original printer cartridges. Both toner cartridges and ink cartridges. We have a less than 2% failure rate on our cheap printer cartridge, so they come with full peace of mind. In the unlikely event you have a quality issue, we'll work fast to resolve it for you.</p>
    <p><strong>Buy high quality cheap ink cartridges from a trusted &amp; reliable supplier!</strong> IJT has been supplying high quality cheap printer ink &amp; toner cartridges for 18 years to over 350,000 customers. Make buying the cheapest ink for your printer simply &amp; easy, get your premier inks Direct with IJT. For Inkjets direct, a toner giant, printer inks, toner cartridges for laser printers and more visit the largest specialised printer cartridge shop around - IJTDirect.co.uk</p>
  </div>
</div>
