
<div class="home-brands home-brands-carousel">
    <h2>Shop By Brand</h2>
 
    <section data-equalizer=data-equalizer class="productCarousel"
           
             data-slick='{
                  "dots": false,
                  "infinite": true,
                   "arrow": true,
                  "slidesToShow": 2,
                  "slidesToScroll": 1,
                  "autoplay": true,
                  "autoplaySpeed": 4000,
                  "touchThreshold":10,
                  "swipe": true,
                  "swipeToSlide": true,
                  "mobileFirst": true,
                  "slide": "[data-brand-slide2]",

                      "responsive": [
                                        {
                                   "breakpoint": 768,
                                   "settings": {
                                   "slidesToScroll": 1,
                                   "slidesToShow": 4
                                   }
                               },
                            {
                                "breakpoint": 1024,
                                "settings": {
                               "slidesToScroll": 1,
                               "slidesToShow": 6
                               }
                           }
                          ]
              }'>
        <div data-brand-slide2=data-brand-slide2 class="productCarousel-slide brand-grid__item">
            <div class="brand-grid__logo brand-grid__logo-brother">
                <img src="{{cdn 'img/brand-transparent.png'}}" alt="transparent background"/>
            </div>
            <div class="brand-grid__buttons">
                <a href="/cartridges/ink-cartridges/brother/?hp-bi" class="button">Brother Ink</a>
                <a href="/cartridges/toner-cartridges/brother/?hp-bt" class="button">Brother Toner</a>
            </div>
        </div>
        <div data-brand-slide2=data-brand-slide2 class="productCarousel-slide brand-grid__item">
            <div class="brand-grid__logo brand-grid__logo-canon">
                <img src="{{cdn 'img/brand-transparent.png'}}"  alt="transparent background"/>
            </div>
            <div class="brand-grid__buttons">
                <a href="/cartridges/ink-cartridges/canon/?hp-ci" class="button">Canon Ink</a>
                <a href="/cartridges/toner-cartridges/canon/?hp-ct" class="button">Canon Toner</a>
            </div>
        </div>
        <div data-brand-slide2=data-brand-slide2 class="productCarousel-slide brand-grid__item">
            <div class="brand-grid__logo brand-grid__logo-dell">
                <img src="{{cdn 'img/brand-transparent.png'}}"  alt="transparent background"/>
            </div>
            <div class="brand-grid__buttons">
                <a href="/cartridges/ink-cartridges/dell/?hp-di" class="button">Dell Ink</a>
                <a href="/cartridges/toner-cartridges/dell/?hp-dt" class="button">Dell Toner</a>
            </div>
        </div>
        <div data-brand-slide2=data-brand-slide2 class="productCarousel-slide brand-grid__item">
            <div class="brand-grid__logo brand-grid__logo-epson">
                <img src="{{cdn 'img/brand-transparent.png'}}"  alt="transparent background"/>
            </div>
            <div class="brand-grid__buttons">
                <a href="/cartridges/ink-cartridges/epson/?hp-ei" class="button">Epson Ink</a>
                <a href="/cartridges/toner-cartridges/epson/?hp-et" class="button">Epson Toner</a>
            </div>
        </div>
        <div data-brand-slide2=data-brand-slide2 class="productCarousel-slide brand-grid__item">
            <div class="brand-grid__logo brand-grid__logo-hp">
                <img src="{{cdn 'img/brand-transparent.png'}}" alt="transparent background" />
            </div>
            <div class="brand-grid__buttons">
                <a href="/cartridges/ink-cartridges/hp/?hp-hi" class="button">HP Ink</a>
                <a href="/cartridges/toner-cartridges/hp/?hp-ht" class="button">HP Toner</a>
            </div>
        </div>
        <div data-brand-slide2=data-brand-slide2 class="productCarousel-slide brand-grid__item">
            <div class="brand-grid__logo brand-grid__logo-kodak">
                <img src="{{cdn 'img/brand-transparent.png'}}" alt="transparent background"/>
            </div>
            <div class="brand-grid__buttons">
                <a href="/cartridges/ink-cartridges/kodak/?hp-ki" class="button">Kodak Ink</a>
            </div>
        </div>
        <div data-brand-slide2=data-brand-slide2 class="productCarousel-slide brand-grid__item">
            <div class="brand-grid__logo brand-grid__logo-lexmark">
                <img src="{{cdn 'img/brand-transparent.png'}}"  alt="transparent background"/>
            </div>
            <div class="brand-grid__buttons">
                <a href="/cartridges/ink-cartridges/lexmark/?hp-li" class="button">Lexmark Ink</a>
                <a href="/cartridges/toner-cartridges/lexmark/?hp-lt" class="button">Lexmark Toner</a>
            </div>
        </div>
        <div data-brand-slide2=data-brand-slide2 class="productCarousel-slide brand-grid__item">
            <div class="brand-grid__logo brand-grid__logo-samsung">
                <img src="{{cdn 'img/brand-transparent.png'}}"  alt="transparent background"/>
            </div>
            <div class="brand-grid__buttons">
                <a href="/cartridges/ink-cartridges/samsung/?hp-si" class="button">Samsung Ink</a>
                <a href="/cartridges/toner-cartridges/samsung/?hp-st" class="button">Samsung Toner</a>
            </div>          
        </div>
    

    </section>
</div>
