
    <div class="home-categories-scroll">
        <h2>Shop By Categories</h2>
        <div class="home-categories-scroll-box">
            <a data-categoey-slide href="/ink-cartridges/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Ink.jpg'}}" />
                <span>Ink Cartridges </span>
            </a>
            <a data-categoey-slide href="/toner-cartridges/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Toner.jpg'}}" />
                <span>Toner Cartridges</span>
            </a>
            <a data-categoey-slide href="/cartridges/label-tapes/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Label-Tapes.jpg'}}" />
                <span>Label Tapes</span>
            </a>
            <a data-categoey-slide href="/laptops-netbooks/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Laptop.jpg'}}" />
                <span>Laptops</span>
            </a>
            <a data-categoey-slide href="/pcs/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-PCsScreen.jpg'}}" />
                <span>P.C.`s & Monitors</span>
            </a>
            <a data-categoey-slide href="/tech-gadgets/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Gadgets.jpg'}}" />
                <span>Tech & Gadgets</span>
            </a>
            <a data-categoey-slide href="/free-printer-deals/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Printer.jpg'}}" />
                <span>Printer Deals</span>
            </a>
            <a data-categoey-slide href="/tablets-ipads/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Tablets.jpg'}}" />
                <span>Tablets & iPads</span>
            </a>
            <a data-categoey-slide href="/mobile-phones/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Phones.jpg'}}" />
                <span>Mobile Phones</span>
            </a>
            <a data-categoey-slide href="/storage/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-SSD.jpg'}}" />
                <span>Storage</span>
            </a>
            <a data-categoey-slide href="/stationery-office-products/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Stationary.jpg'}}" />
                <span>Stationery & Office Supplies</span>
            </a>
            <a data-categoey-slide href="/clearance-sale/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Clearance.jpg'}}" />
                <span>Clearance Sales</span>
            </a>
        </div>

    </div>
