
    <div class="home-categories home-categories-scroll">
  
        <section data-equalizer class="productCarousel home-categories-slider home-categories-scroll-box" data-product-type="featured"
                 data-list-name="Featured Products"
                 data-slick='{
                    "dots": false,
                    "infinite": false,
                    "swipe": true,
                    "swipeToSlide": true,
                     "arrow": true,
                    "slidesToShow": 3,
                    "slidesToScroll": 3,
                    "autoplay": false,
                    "autoplaySpeed": 3000,
                    "mobileFirst": true,
                    "slide": "[data-categoey-slide]",

                        "responsive": [

                                   {
                                      "breakpoint": 768,
                                      "settings": {
                                      "slidesToScroll":4,
                                      "slidesToShow": 4
                                        }
                                      },
                                    {
                                     "breakpoint": 1024,
                                     "settings": {
                                     "slidesToScroll": 7,
                                     "slidesToShow": 7
                                 }
                             }
                            ]
                }'>


            <a data-categoey-slide href="/ink-cartridges/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Ink.jpg'}}" alt="Ink Cartridges" />
                <span>Ink Cartridges </span>
            </a>
            <a data-categoey-slide href="/toner-cartridges/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Toner.jpg'}}" alt="Toner Cartridges" />
                <span>Toner Cartridges</span>
            </a>
            <a data-categoey-slide href="/cartridges/label-tapes/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Label-Tapes.jpg'}}" alt="Label Tapes"/>
                <span>Label Tapes</span>
            </a>
            <a data-categoey-slide href="/laptops-netbooks/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Laptop.jpg'}}" alt="Laptops" />
                <span>Laptops</span>
            </a>
            <a data-categoey-slide href="/pcs/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-PCsScreen.jpg'}}" alt="P.C.`s & Monitors" />
                <span>P.C.`s & Monitors</span>
            </a>
            <a data-categoey-slide href="/tech-gadgets/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Gadgets.jpg'}}" alt="Tech & Gadgets" />
                <span>Tech & Gadgets</span>
            </a>
            <a data-categoey-slide href="/free-printer-deals/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Printer.jpg'}}" alt="Printer Deals" />
                <span>Printer Deals</span>
            </a>
            <a data-categoey-slide href="/tablets-ipads/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Tablets.jpg'}}" alt="Tablets & iPads" />
                <span>Tablets & iPads</span>
            </a>
            <a data-categoey-slide href="/mobile-phones/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Phones.jpg'}}" alt="Mobile Phones" />
                <span>Mobile Phones</span>
            </a>
            <a data-categoey-slide href="/storage/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-SSD.jpg'}}" alt="Storage" />
                <span>Storage</span>
            </a>
            <a data-categoey-slide href="/stationery-office-products/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Stationary.jpg'}}" alt="Stationery & Office Supplies" />
                <span>Stationery & Office Supplies</span>
            </a>
            <a data-categoey-slide href="/clearance-sale/?in_stock=1" class="productCarousel-slide">
                <img src="{{cdn 'img/home-categories/Website-Example-IJT-Scroll-Image-Clearance.jpg'}}" alt="Clearance Sales" />
                <span>Clearance Sales</span>
            </a>
        </section>

    </div>
