{{#if products.featured}}
<div class="featured-product-section">
    <!-- <div class="title-section">
      <h2>{{lang 'products.featured' }}</h2>
    </div> -->
    {{> components/products/featured-carousel products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    <!-- <a href="/categories/">View all <span>›</span></a>-->
</div>
{{/if}}
{{> components/cs-custom/brand-block-carousel }}
{{#and carousel carousel.slides.length}}
<div id="mycarousel" class="container">
    {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
</div>
{{/and}}
{{{region name="middle-block__section-about-us"}}}

<div class="top-category-section">
    <ul class="category-list d-flex align-start">
        {{#each categories}}
        {{#or (if name '==' 'Inkjet Printers') (if name '==' 'Laserjet Printers')}}
        <li class="navPages-item">
            {{> components/common/navigation-list}}
        </li>
        {{/or}}
        {{/each}}
    </ul>
</div>

{{{region name="middle-block__section"}}}
