<!--
-->
<div class="free-printer-deals free-printer-deals-rightcol">
    <div class="free-printer-deals-header">
        <a class="full_block_link" href="/printers/?_bc_fsnf=1&deal-type=Printer+Bundle">
            <span class="desktop">
                <p style="font-size:48px;">PRINTER</p>
                <p style="color: red; font-size: 48px;">BUNDLES</p>
                <p style="font-size: 48px; margin-bottom: 20px;">HERE</p>
            </span>
        </a>
    </div>
    <div class="free-printer-bundles-box">
        <div class="container">
            {{> components/cs-custom/products-by-category/ajax-products-by-categorybundles-id-col category_id="28369"}}
        </div>
    </div>
</div>

