 <div class="free-printer-deals">
 <div class="free-printer-deals-box">
    <div class="container">   
        <h2><strong>Free</strong> Printer Deals</h2>
         <section data-equalizer class="productCarousel" 
                  data-list-name="Featured Products"
                  data-slick='{
                         "dots": false,
                         "infinite": true,
                          "arrow": true,
                         "slidesToShow": 2,
                         "slidesToScroll": 1,
                         "autoplay": true,
                         "swipe": true,
                         "swipeToSlide": true,
                         "autoplaySpeed": 4000,
                         "mobileFirst": true,
                         "slide": "[free-printer-deal]",

                             "responsive": [
                            {
                                "breakpoint": 768,
                                "settings": {
                                "slidesToScroll": 1,
                                "slidesToShow": 4
                                }
                            },
                            {
                                "breakpoint": 1024,
                                "settings": {
                                "slidesToScroll": 1,
                                "slidesToShow": 7
                                      }
                            }
                           
                          ]
                     }'>
             <div free-printer-deal class="productCarousel-slide home-printer-deal">
                 {{{region name="printer-deals1"}}}
             </div>
             <div free-printer-deal class="productCarousel-slide home-printer-deal">
                 {{{region name="printer-deals2"}}}
             </div>
              <div free-printer-deal class="productCarousel-slide home-printer-deal">
                 {{{region name="printer-deals3"}}}
             </div>
              <div free-printer-deal class="productCarousel-slide home-printer-deal">
                 {{{region name="printer-deals4"}}}
             </div>
              <div free-printer-deal class="productCarousel-slide home-printer-deal">
                 {{{region name="printer-deals5"}}}
             </div>
              <div free-printer-deal class="productCarousel-slide home-printer-deal">
                 {{{region name="printer-deals6"}}}
             </div>
              <div free-printer-deal class="productCarousel-slide home-printer-deal">
                 {{{region name="printer-deals7"}}}
             </div>
              <div free-printer-deal class="productCarousel-slide home-printer-deal">
                 {{{region name="printer-deals8"}}}
             </div>
              <div free-printer-deal class="productCarousel-slide home-printer-deal">
                 {{{region name="printer-deals9"}}}
             </div>
  
         </section>
    </div>
</div>
 </div>
