


<div class="free-printer-deals free-printer-deals-rightcol">
    <div class="free-printer-deals-header">
        <a class="full_block_link" href="/free-printer-deals/?_bc_fsnf=1&deal-type=Free+Printer">
            <span class="desktop">
                <p class="topText">CHOOSE YOUR</p>
                <p class="bigRed">FREE</p>
                <p>PRINTER DEAL</p>
                <p style="font-size: 48px; margin-top: 0px !important;">HERE</p>
            </span>

            <span class="mobile">
                <p class="topText" style="color: red !important;">FREE</p>
                <p>PRINTERS HERE</p>
            </span>
        </a>
    </div>
    <div class="free-printer-deals-box">
        <div class="container">

            {{> components/cs-custom/products-by-category/ajax-products-by-category-id-col category_id="19481"}}

        </div>
    </div>
</div>
