<!--<div class="home-right-block">
    <a href="/canon-pixma-ts6350a-inkjet-printer-3-sets-of-ijt-recycled-canon-inkjet-cartridges/?rn">
        <img src="{{cdn 'img/loading.svg'}}"
             data-src="/product_images/uploaded_images/new-ijtd-canon-pixma-ts6350a-deal-box-3.jpg"
             alt="Free Canon Pixma TS6350A A4 Inkjet Printer Deal from IJT Direct"
             class="lazyautosizes lazyload" />
    </a>
    <a href="/brother-mfc-l8690cdw-wireless-colour-laser-printer-1-set-of-ijt-toners-1-ijt-black-toner-1-set-of-brother-oems/?rn">
        <img src="{{cdn 'img/loading.svg'}}"
             data-src="/product_images/uploaded_images/new-ijtd-brother-mfc-l8690cdw-deal-box-24april23-2.jpg"
             alt="Free Brother MFC-L8690CDW Colour Laser A4 Printer Deal"
             class="lazyautosizes lazyload" />
    </a>
    <a href="/canon-pixma-ts3355-inkjet-printer-3-sets-of-ijt-inkjet-cartridges/?rn">
        <img src="{{cdn 'img/loading.svg'}}"
             data-src="/product_images/uploaded_images/new-ijtd-canon-pixma-ts3350-deal-box-2.jpg"
             alt="Free Canon Pixma TS3350 A4 Wireless Inkjet Printer Deal"
             class="lazyautosizes lazyload" />
    </a>
    <a href="/epson-workforce-wf-2930dwf-printer-3-sets-of-ijt-inkjet-cartridges-1-set-epson-inks/?rn">
        <img src="{{cdn 'img/loading.svg'}}"
             data-src="/product_images/uploaded_images/new-ijtd-epson-wf-2930dwf-deal-box-2.jpg"
             alt="Free Epson WorkForce WF-2840DWF A4 Inkjet Wireless Printer Deal"
             class="lazyautosizes lazyload" />
    </a>
    <a href="/brother-hl-l2370dn-network-mono-laser-printer-5-ijt-toner-cartridges-and-1-brother-oem-toner-cartridge/?rn">
        <img src="{{cdn 'img/loading.svg'}}"
             data-src="/product_images/uploaded_images/new-ijtd-brother-hl-l2370dn-deal-box-2.png"
             alt="Free Brother HL-L2370DN A4 Mono Laser Network Printer Deal"
             class="lazyautosizes lazyload" />
    </a>
    <a href="/epson-workforce-wf-7310dtw-a3-printer-4-sets-of-ijt-inkjet-cartridges-1-set-epson-inks/?rn">
        <img src="{{cdn 'img/loading.svg'}}"
             data-src="/product_images/uploaded_images/new-ijtd-epson-wf-7310dtw-deal-box-2.jpg"
             alt="Free Epson WorkForce WF-7310DTW A3+ Inkjet Wireless Printer Deal"
             class="lazyautosizes lazyload" />
    </a>
</div>-->
<div class="sidebar-marketing-section">
   {{{region name="sidebar_marketing_banner1--global"}}}
</div>

<div class="sidebar-marketing-section">
   {{{region name="sidebar_marketing_banner2--global"}}}
</div>

<div class="sidebar-marketing-section">
   {{{region name="sidebar_marketing_banner3--global"}}}
</div>

<div class="sidebar-marketing-section">
   {{{region name="sidebar_marketing_banner4--global"}}}
</div>

<div class="sidebar-marketing-section">
   {{{region name="sidebar_marketing_banner5--global"}}}
</div>

<div class="sidebar-marketing-section">
   {{{region name="sidebar_marketing_banner6--global"}}}
</div>

